%article#content
  %h1
    We're seeking for Volunteers, ボランティア募集のお知らせ
  %div
    %section
      %p
        %strong
          NOTE: This page is only Japanese version available. To work together with RubyKaigi 2013 Team, you have to understand Japanese text as below. We hope you will understand our situation. Thanks &lt;3
      %br
      %p
        RubyKaigi 2013 Teamでは、運営をお手伝いいただけるボランティアスタッフを募集します。
      %br
      %p
        RubyKaigi 2013のボランティアは金銭的な報酬はありませんが、スピーカーとも一般参加とも違ったカンファレンス体験ができます。慌てて補足しておくと、Organizing Teamも金銭的な報酬をもらって運営しているわけではありません……。ボランティア特典としては、次のようなものを予定しています:
      %br
      %p
        %strong
          ボランティアスタッフの特典(?)
      %ul.listMark
        %li
          RubyKaigi 2013 スタッフTシャツをお渡しします
        %li
          %a{href:'/2013/team'}
            Teamのページ
          にクレジットします
        %li
          会期前日5/29(水)の夜から最終日6/1(土)の朝まで、お台場あたりのスタッフ宿に宿泊できます(朝食付)
        %li
          会期中の3日間の昼食にお弁当がでます(RubyKaigi 2013スピーカー、参加者と同じお弁当)
        %li
          RubyKaigi 2013撤収後のスタッフ打ち上げに参加できます(任意)
        %li
          Rubyistのお友達が増える、と思います(保証はありません)

      %p
        以下に掲載する募集しているポジションの説明や応募条件に目を通していただいたうえで、2013 at rubykaigi dot org 宛にE-mailでご応募ください。応募の際には以下の情報を含めてください:
      %br
      %p
        %strong
          各ポジションへの応募方法
      %ul.listMark
        %li
          お名前など、あなたを識別できる文字列(例:角谷信太郎,かくたに,kakutaniなど)
        %li
          応募するポジション
        %li
          私をそのポジションに採用すべきnの理由(n &gt; 0)
        %li
          その他、連絡事項や伝えたいこと

      %p
        皆さまからの応募をお待ちしています! 不明点や疑問点も同様に 2013 at rubykaigi dot org 宛にメールでお問い合わせください!!

  %h2
    動画につける日本語字幕の作成, 若干名(募集中)
  %div
    %section
      %h1 "Two Cartoon Foxes, the _why documentary"の日本語字幕付動画の作成
      %p
        RubyKaigi 2013の会期中に、_why the lucky stiff のドキュメンタリービデオを上映する予定です。このビデオは2012年の夏から北米やオーストラリアのRubyカンファレンスで上映されたものです。作者のKevinもRubyKaigiに参加する予定です。つきましては、このビデオに日本語字幕をつけるのを手伝ってくれる方を若干名募集します。
      %br
      %p
        %strong
          お仕事の内容
      %ul.listMark
        %li
          会期中にプロジェクタでフルスクリーン再生できる動画ファイルにつける日本語字幕・動画作成。VLCで再生できるフォーマットが望ましいです。
        %li
          日本人の参加者がだいたい何を言ってるのかがわかる程度のクオリティで構わないと思います。
        %li
          動画の流さは18分35秒です。内容はナレーションといろんなRubyistへのインタビュー音声が中心です。transcriptは入手済です。
        %li
          ワークフローとしては、現在kakutaniは、
          %a{href:'http://www.amara.org/'}
            amara.org
          を使って作成した字幕を、srt形式でエクスポートしたうえで、動画編集ソフトを使ってハードサブにするのがフルスクリーン上映という観点からは安全かな、と考えています——が、基本的に進めかたも含めてお任せします。
        %li
          作業チームのやりとりはfacebookとgoogle docsやgistで良いんじゃないかなあ、と思ってますが、そこも含めてお任せする気は満々です
      %p
        %strong
          参考リンク
      %ul.listMark
        %li
          kakutani が以前に作業したことのある日本語字幕動画:
          %strong
            %a{href:'http://www.amara.org/en/videos/mr5VvPVVoYXS/info/rsa-animate-drive-the-surprising-truth-about-what-motivates-us/'}
              &quot;RSA Animate - Drive: The surprising truth about what motivate us&quot;
          (ドロップダウンメニューから「Japanese」を選んで再生してみてください。
        %li
          kakutani が以前に作成した日本語字幕用のsrtファイル:
          %strong
            %a{href:'https://gist.github.com/kakutani/3207064'}
              The_RubyKaigi_Rises_Trailer.srt
      %p
        %strong
          応募にあたって
      %ul.listMark
        %li
          作業期間は、そろそろ始めないとまずいと思っているので、早ければ早いほどいいかなと思ってます。なんであれ、会期までに完了させねばなりません……。
        %li
          字幕職人経験者を歓迎します!
        %li
          英→日の翻訳作業経験者を歓迎します!
        %li
          原作者に問い合わせることがあるかもしれないので、英語のメールを書くことに抵抗のない方を歓迎します!
        %li
          RubyやRubyist, _why についての知識と経験のある方はもちろん歓迎ですが、必須ではないと思います!
        %li
          リモート作業可(オンラインでの同期/非同期のコラボレーション作業です)
        %li
          特典:作業いただいた方は、RubyKaigi 2013 会期初日(5/30)の午後に上映します。当日は無料で参加できます(旅費宿泊費は自己負担でお願いします)。
        %li
          他のポジションを手伝っていただくのも歓迎です(もちろんオプション)
  %h2
    rubykaigi.orgのコンテンツ更新のお手伝い係, 若干名
  %div
    %section
      %h1 RubyKaigi 2013 Teamがサイトに載せたいことを更新するのを手伝ってください
      %ul.listMark
        %li
          rubykaigi.orgのコンテンツを英語で更新していくお仕事です。
        %li
          (応募にあたっての希望条件などをまだ書けていませんが、githubとRubyとmiddlemanを使うことに抵抗がなくて、この作業に興味のある方は 2013 at rubykaigi dot org までお問い合わせください!)

  %h2
    日本語話者のトークの英語への同時通訳のサポート, 若干名(未オープン)
  %div
    %section
      %h1 スライドの英訳のお手伝いや、会期中の同時通訳担当の方との事前打ち合わせをサポートするチームです。チームリーダーも含めて募集する予定です。
      %ul.listMark
        %li
          (まだ募集していません。どんな作業をお願いするかをあとで書きます……)

  %h2
    会期中の運営お手伝いスタッフ, 若干名(未オープン)
  %div
    %section
      %h1 いわゆる「当日スタッフ」です。受付、運営、KaigiFreaksのお手伝いなどをお願いする予定です。
      %ul.listMark
        %li
          (まだ募集していません。あとで書きますので、それからの応募をお願いいたします!)
