%article#content
  %h1
    We're recruiting Volunteers, ボランティア募集のお知らせ
  %div
    %section
      %p
        %strong
          NOTE: This page is only available in Japanese. The primary language RubyKaigi staff uses to communicate is Japanese, so you need to understand Japanese to be a volunteer. Native-level Japanese isn't required though, and if you can understand most of this page, you should be fine. Thanks &lt;3
      %br
      %p
        RubyKaigi 2013 Teamでは、運営をお手伝いいただけるボランティアスタッフを募集します。
      %br
      %p
        RubyKaigi 2013のボランティアは金銭的な報酬はありませんが、スピーカーとも一般参加とも違ったカンファレンス体験ができます。慌てて補足しておくと、Organizing Teamも金銭的な報酬をもらって運営しているわけではありません……。ボランティア特典としては、次のようなものを予定しています:
      %br
      %p
        %strong
          ボランティアスタッフの特典(?)
      %ul.listMark
        %li
          RubyKaigi 2013 スタッフTシャツをお渡しします
        %li
          %a{href:'/2013/team'}
            Teamのページ
          にクレジットします
        %li
          会期前日5/29(水)の夜から最終日6/1(土)の朝まで、お台場あたりのスタッフ宿に宿泊できます(朝食付)
        %li
          会期中の3日間の昼食にお弁当がでます(RubyKaigi 2013スピーカー、参加者と同じお弁当)
        %li
          RubyKaigi 2013撤収後のスタッフ打ち上げに参加できます(任意)
        %li
          Rubyistのお友達が増える、と思います(保証はありません)

      %p
        以下に掲載する募集しているポジションの説明や応募条件に目を通していただいたうえで、2013 at rubykaigi dot org 宛にE-mailでご応募ください。応募の際には以下の情報を含めてください:
      %br
      %p
        %strong
          各ポジションへの応募方法
      %ul.listMark
        %li
          お名前など、あなたを識別できる文字列(例:角谷信太郎,かくたに,kakutaniなど)
        %li
          あなたのgithubアカウント(運営に使っています)
        %li
          応募するポジション
        %li
          私をそのポジションに採用すべきnの理由(n &gt; 0)
        %li
          その他、連絡事項や伝えたいこと

      %p
        皆さまからの応募をお待ちしています! 不明点や疑問点も同様に 2013 at rubykaigi dot org 宛にメールでお問い合わせください!!

  %h2
    Rubyist Magazine(るびま)に寄稿するレポートの執筆者, 若干名(募集中)
  %div
    %section
      %h1 RubyKaigi2013の後に発行されるるびまに掲載するRubyKaigi 2013レポート執筆者の募集です。
      %p
        %strong
          お仕事の内容
      %ul.listMark
        %li <a href="http://jp.rubyist.net/magazine">Rubyist Magazine</a>に「RubyKaigi 2013参加レポート」を寄稿いただきます
        %li レポート担当者それぞれが参加した視点から感じた、RubyKaigi 2013 というカンファレンスの雰囲気をレポートしてください
        %li これは速報レポートではないので、<a href="http://jp.rubyist.net/magazine/?0040-HowToBuildSprk2012ReportTeam">エクストリーム・スポーツではありません</a>
        %li <a href="http://jp.rubyist.net/magazine/?0041-Euroko2012">Euruko 2012参加レポート</a>ぐらいの「参加した雰囲気」が伝わるようなものであれば十分です
        %li 3日間の複数トラックなので、複数人のチームで分担することを想定しています
        %li 記事の構成などはお任せいたします
        %p
        %strong
          応募にあたって
      %ul.listMark
        %li
          スタッフTシャツは、当日スタッフのみなさんに支給したあとのものでサイズがあえばお渡しします(努力しますが、お渡しを確約できません)。
        %li
          チケットをお持ちでなければ、3日間無料で参加できるように手配いたします
        %li
          都内移動ぶんと国際便の交通費はでません。応募したいけど東京まで遠いという方の交通費・宿泊先については応相談です。
        %li
          RubyKaigi 2013のチケットを既にお持ちの方の払い戻しについては、個別に相談させてください。


  %h2
    日本語話者のトークの英語への同時通訳のサポート, 若干名(まだ募集中)
  %div
    %section
      %h1 こんかいのRubyKaigiでは、日本語によるトークには基本的にプロの同時通訳を入れます(日本語から英語です)。会期前から同時通訳の準備、会期中の同時通訳担の方との事前打ち合わせや進行をサポートするチームです。チームリーダーも含めて募集します!
      %p
        %strong
          お仕事の内容
      %ul.listMark
        %li
          会期前のスライド英訳など、同時通訳の準備のために必要な資料の作成、スピーカーからの資料の取り立て
        %li
          会期中の同時通訳担当の方との事前打合せ、会期中のトークについての進行のサポート
        %li
          英語セッションでの質疑応答での日本語→英語、英語→日本語での通訳のサポート(オプション;余力があれば)
      %p
        %strong
          応募にあたって
      %ul.listMark
        %li
          Rubyにまつわる技術的な内容について、文字ベースで日本語と英語のコミュニケーションに不自由しない方を歓迎します。
        %li
          会期中に現場に足を運んでいただける方だとありがたいですが、事前準備についてはリモートなのでインターネットさえつながれば、地球上のどこからでも参加可能です
        %li
          会期中の同時通訳担当の方との事前打ち合せに参加していただけると大変ありがたいです(15 - 20分程度だと思います)。日本語の技術用語などを、英語でどう言うのが適切か、などのアドバイスをいただけると大変ありがたいです。
        %li
          申し訳ありませんが、会期中のスタッフ宿の提供については保証がありません(そこまでベッドを確保できていません)。事前準備でのお手伝いが中心になると思いますので、悪しからずご了承ください。
        %li
          RubyKaigi 2013のチケットを既にお持ちの方の払い戻しについては、個別に相談させてください。

  %h2
    rubykaigi.orgのコンテンツ更新のお手伝い係, 若干名
  %div
    %section
      %h1 RubyKaigi 2013 Teamがサイトに載せたいことを更新するのを手伝ってください
      %ul.listMark
        %li
          rubykaigi.orgのコンテンツを英語で更新していくお仕事です。
        %li
          (応募にあたっての希望条件などをまだ書けていませんが、githubとRubyとmiddlemanを使うことに抵抗がなくて、この作業に興味のある方は 2013 at rubykaigi dot org までお問い合わせください!)

  %h2
    会期中の運営お手伝いスタッフ, 若干名(現在、募集はおこなっていません)
  %div
    %section
      %h1 多数のご応募ありがとうございました!!
      %p
        いわゆる「当日スタッフ」です。受付、運営、KaigiFreaksのお手伝いです。
      %p
        RubyKaigi 2013の会期中の運営のお手伝いスタッフを募集します。コードでなかなかRubyコミュニティに貢献できていないのだけれど、普段の感謝を労働力で示したい皆さんを若干名募集します。応募資格のない人がいるので、下記の要項をお読みのうえ、2013 at rubykaigi dot org 宛にメールでご応募ください。
      %br
      %p
        %strong
          お仕事の内容
      %ul.listMark
        %li
          会期前の設営、会期中の受付、KaigiFreaksの配信、運営スタッフ作業、会期終了後の撤収をお手伝いいただきます。
        %li
          作業の状況や内容によっては、本編のトークを見ることができないかもしれません。
        %li
          会期前日(29日(水))の午後から現地で作業を手伝ってくれる方を歓迎します(必須ではありません)。
        %li
          会期3日間のお手伝いが可能な方を歓迎します。
      %p
        %strong
          応募にあたって
      %ul.listMark
        %li
          日常英会話ができなくはない方を歓迎します(必須ではありません)
        %li
          お金がないけどRubyKaigiを見てみたい学生の皆さんは、
          %a{href:'http://rubykaigi.doorkeeper.jp/events/2980'}
            学割や最終日の無料参加
          も選択肢としてご検討ください。
        %li
          都内移動ぶんと国際便の交通費はでません。応募したいけど東京まで遠いという方の交通費については応相談です。
        %li
          応募にあたっては、上述の「各ポジションへの応募方法」の内容を含めたメールを、Subject「RubyKaigi2013当日スタッフ応募」としたうえで、2013 at rubykaigi dot org 宛に送信してください。
      %p
        %strong
          こんかいの応募対象外の方
      %ul.listMark
        %li
          すでにRubyKaigi2013のチケットを購入された方(どうぞ会期をお楽しみください!)
        %li
          %a{href:'http://rubykaigi.doorkeeper.jp/events/2980'}
            RubyKaigi 2013のチケットディスカウント対象者
          の方(皆さんはコンテンツですから、是非とも参加者としてご参加ください!)
      %p
        皆さんからの応募メールに目を通すのを楽しみにしています!!!

  %h2
    動画につける日本語字幕の作成, 若干名(現在、募集はおこなっていません)
  %div
    %section
      %h1 "Two Cartoon Foxes, the _why documentary"の日本語字幕付動画の作成
      %p
        RubyKaigi 2013の会期中に、_why the lucky stiff のドキュメンタリービデオを上映する予定です。このビデオは2012年の夏から北米やオーストラリアのRubyカンファレンスで上映されたものです。作者のKevinもRubyKaigiに参加する予定です。つきましては、このビデオに日本語字幕をつけるのを手伝ってくれる方を若干名募集します。
      %br
      %p
        %strong
          お仕事の内容
      %ul.listMark
        %li
          会期中にプロジェクタでフルスクリーン再生できる動画ファイルにつける日本語字幕・動画作成。VLCで再生できるフォーマットが望ましいです。
        %li
          日本人の参加者がだいたい何を言ってるのかがわかる程度のクオリティで構わないと思います。
        %li
          動画の流さは18分35秒です。内容はナレーションといろんなRubyistへのインタビュー音声が中心です。transcriptは入手済です。
        %li
          ワークフローとしては、現在kakutaniは、
          %a{href:'http://www.amara.org/'}
            amara.org
          を使って作成した字幕を、srt形式でエクスポートしたうえで、動画編集ソフトを使ってハードサブにするのがフルスクリーン上映という観点からは安全かな、と考えています——が、基本的に進めかたも含めてお任せします。
        %li
          作業チームのやりとりはfacebookとgoogle docsやgistで良いんじゃないかなあ、と思ってますが、そこも含めてお任せする気は満々です
      %p
        %strong
          参考リンク
      %ul.listMark
        %li
          kakutani が以前に作業したことのある日本語字幕動画:
          %strong
            %a{href:'http://www.amara.org/en/videos/mr5VvPVVoYXS/info/rsa-animate-drive-the-surprising-truth-about-what-motivates-us/'}
              &quot;RSA Animate - Drive: The surprising truth about what motivate us&quot;
          (ドロップダウンメニューから「Japanese」を選んで再生してみてください。
        %li
          kakutani が以前に作成した日本語字幕用のsrtファイル:
          %strong
            %a{href:'https://gist.github.com/kakutani/3207064'}
              The_RubyKaigi_Rises_Trailer.srt
      %p
        %strong
          応募にあたって
      %ul.listMark
        %li
          作業期間は、そろそろ始めないとまずいと思っているので、早ければ早いほどいいかなと思ってます。なんであれ、会期までに完了させねばなりません……。
        %li
          字幕職人経験者を歓迎します!
        %li
          英→日の翻訳作業経験者を歓迎します!
        %li
          原作者に問い合わせることがあるかもしれないので、英語のメールを書くことに抵抗のない方を歓迎します!
        %li
          RubyやRubyist, _why についての知識と経験のある方はもちろん歓迎ですが、必須ではないと思います!
        %li
          リモート作業可(オンラインでの同期/非同期のコラボレーション作業です)
        %li
          作業いただいた方は、上映当日は無料でRubyKaigi 2013に参加できます。会期初日(5/30)の午後に上映します(現地までの交通宿泊費は実費をご負担いただきます)。
        %li
          他のポジションを手伝っていただくのも歓迎です(もちろんオプションです)。
