%ul
  - sponsors.each do |sponsor|
    %li{id: sponsor.id}
      - if sponsor.special
        %h2.platinumSponsorType
          = sponsor.special
      %p.logo
        = sponsor_logo_tag sponsor
      %p.name
        = link_to sponsor.name, sponsor.link, target: '_blank'
      %p
        = sponsor.description
