.description
  :markdown
    #{talk.description}

%ul.presentation-materials
  - talk.materials.each do |material|
    %li
      = link_to material, target: '_blank' do
        = material
        %i.icon-external-link
